/*
 * Kanpeki
 * Generic
*/

body {
	background-color: $generic-body-background-color;
	color: $generic-body-font-color;
	font-family: $generic-body-font-family;
	font-size: $generic-body-font-size;
	line-height: $generic-body-line-height;
	
	text-rendering: optimizeLegibility;
}
