/*
 * Kanpeki
 * Columns Mixins
*/

@mixin make-column($width) {
	$width: if-unitless-make-percentage($width);
	
	flex: 0 0 $width;
	max-width: $width;
}

@mixin make-regular-column($i) {
	@include make-column(percentage($i / $columns-count));
}

@mixin column-auto {
	flex: 1 1 0;
}

@mixin column-clamped {
	flex: 0 0 auto;
	max-width: none;
	width: auto;
}
