/*
 * Kanpeki
 * Grid System Mixins
*/

@mixin make-regular-column($i) {
	flex: 0 0 percentage($i / $grid-columns-count);
	max-width: percentage($i / $grid-columns-count);
}

@mixin make-custom-column($width) {
	flex: 0 0 percentage($width);
	max-width: percentage($width);
}
