/*
 * Kanpeki
 * Columns
*/

.columns {
	display: flex;
	flex-wrap: wrap;
	margin: (-$columns-gutter / 2);
	
	&:not(.no-gutters) + &.no-gutters {
		margin-top: $columns-gutter;
	}
	
	& + & {
		margin-top: ($columns-gutter / 2);
	}
	
	&.no-gutters, &.no-gutters & {
		margin: 0;
	}
	
	&.no-gutters [class*="column"] {
		padding: 0;
	}
	
	&.show [class*="column"] {
		// background-clip: content-box;
		background-color: darken($generic-body-background-color, 10%);
		outline: 1px solid darken($generic-body-background-color, 20%);
	}
}

%column {
	padding: ($columns-gutter / 2);
	min-height: 1px;
	width: 100%;
}

.columns-divider {
	width: 100% !important;
}

/*
 * Columns Sizes
 * -----------------------------------------------------------------------------
*/

$columns-sizes: generate-columns-sizes();
$columns-aliases: generate-columns-aliases();

.column {
	@extend %column;
	@include column-auto;
}

.column-clamped {
	@extend %column;
	@include column-clamped;
}

// Default columns
@each $size, $width in $columns-sizes {
	.column-#{$size} {
		@extend %column;
		@include make-column($width);
	}
}

// Aliases
@each $alias, $extend-to in $columns-aliases {
	.column-#{$alias} {
		@extend .column-#{$extend-to};
	}
}

/*
 * Per Breakpoint Columns Sizes
 * -----------------------------------------------------------------------------
*/

@each $name, $breakpoint in $breakpoints {
	@if breakpoint-has-min-width($name) {
		.column-#{$name} {
			@extend %column;
		}
		
		.column-clamped-#{$name} {
			@extend %column;
		}
		
		// Default columns
		@each $size, $width in $columns-sizes {
			.column-#{$size}-#{$name} {
				@extend %column;
			}
		}
		
		// Aliases
		@each $alias, $extend-to in $columns-aliases {
			.column-#{$alias}-#{$name} {
				@extend .column-#{$extend-to}-#{$name};
			}
		}
		
		/*
		 * Per Breakpoint Setting Size
		 * -------------------------------------------------------------------------
		*/
		
		@include breakpoint-up($name) {
			.column-#{$name} {
				@include column-auto;
			}
			
			.column-clamped-#{$name} {
				@include column-clamped;
			}
			
			// Default columns
			@each $size, $width in $columns-sizes {
				.column-#{$size}-#{$name} {
					@include make-column($width);
				}
			}
		}
	}
}
