/*
 * Kanpeki
 * Breakpoints
*/


/*
 * Breakpoints must be in ascending order
 * $breakpoints keys must match $container-max-widths keys
 * $container-max-widths map is in 'variables/_container.scss'
*/
$breakpoints: (
	tiny: 0,
	small: 768px,
	medium: 1024px,
	large: 1280px
) !default;
