/*
 * Kanpeki
 * Container Variables
*/

/*
 * $container-max-widths map keys must match $breakpoints keys
 * $breakpoints map is in 'variables/_breakpoints.scss'
*/
$container-max-widths: (
	phones: 100%,
	tablets: 720px,
	small-desktops: 960px,
	desktops: 1200px
) !default;
