/*
 * Kanpeki
 * Display Utilities
*/

$displays: none, block, inline, inline-block, flex;

@each $display in $displays {
	@include per-breakpoint('.display-#{$display}') {
		display: $display !important;
	}
	
	@include per-breakpoint-only('.display-#{$display}') {
		display: $display !important;
	}
}
