/*
 * Kanpeki
 * Flexbox Utilities
*/

.center {
	justify-content: center;
	align-items: center;
}

.center-x {
	justify-content: center;
}

.center-y {
	align-items: center;
}

/*
 * Order flex items
 * -----------------------------------------------------------------------------
*/
.order-first {
	order: ($columns-count + 1) * -1;
}

.order-last {
	order: 1;
}

@for $i from 1 through $columns-count {
	.order-#{$i} {
		order: ($columns-count - $i + 1) * -1;
	}
}
